<%= render "shared/header" %>
<div class='main'>

  <%# demo %>
  <div class='demo'>

    <div class='content-area'>

      <div class='main-content'>
        <p class='cont'>
          あああああああああああああああああああああああああああああ
          iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii
          ああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
          ああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
        </p>
      </div>

    </div>


  </div>
  <%# //demo %>

  <%# what you can do %>
  <div class='wycd'>

  </div>
  <%# //What you can do %>

  <%# info %>
    <div class='info'>
    </div>
  <%# //info %>

</div>
