<footer class='top-page-footer'>  

  <div class='footer-nav'>
    <%# what you can do %>
    <div class='footer-left'>
      <h3 class='footer-sub-title'>
        このアプリでできること
      </h3>
      <p class='text'>　簡単に自分史を作ることができます。</p>
      <p class='text'>　・自身の生い立ちを振り返って</p>
      <p class='text'>　・故郷の思い出</p>
      <p class='text'>　・新しい家族の誕生を祝う</p>
      <p class='text'>　・仕事の大成功</p>
      <p class='text'>　いままでを振り返れば、素敵な「自分らしさ」を発見できるはずです。</p>
      <p class='text'>　そしてこれからのできごとも、ぜひChronoEditorで綴ってみましょう。</p>
      <p class='text'>　ChronoEditorはあなたの人生を精一杯応援します！</p>
    </div>
    <%# //What you can do %>

    <%# info %>
    <div class='footer-right'>
      <h3 class='footer-sub-title'>
        作成者の情報
      </h3>
      <a href='https://dazblog.org/' class='my-link'>
        <p class='text'>・ダズブログ（dazblog.org）</p>
      </a>
      <a href='https://github.com/SSaeki-jp' class='my-link'>
        <p class='text'>・GitHub（SSaeki-jp）</p>
      </a>
    </div>
    <%# //info %>
  </div>

  <div class='footer-end'>
    <a href='/'>
      <div class='footer-title'>
        <h2>ChronoEditor</h1>
      </div>
    </a>
    <p>Copyright © 2020 ShuichiroSaeki All Rights Reserved.</p>
  </div>

</footer>